rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /bidangConfigs/{docId} {
      allow read, write: if true;
    }
    match /appConfig/{docId} {
      allow read, write: if true;
    }
  }
}
